.copy{
    width: 100%;
    background-color: #07191b;
    padding: 1rem;
}
.copy_text{
    width: 100%;
    color: #f5f5f5;
    font-size: 18px;
    text-align: center;
    user-select: none;
}
.copy_span{
    color:#3c6d64 ;
    font-size: 28px;
    letter-spacing: .25rem;
}
@media screen and (max-width:780px) {
    .copy{
    padding-bottom: 65px;
    }
}