.shop{
    width: 100%;
    margin: 25vh 0;
}
.shopBanner{
    width: 100%;
    height: 100vh;
}
.shopCards{
    width: 80%;
    margin: 25vh auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem 1rem;
}