.servicesSection{
      width: 100%;
    max-width: 1800px;
     margin: 20vh 0;

}
.servicesContainer {
    width: 100%;
    max-width: 1800px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
}

.scrollerInner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.servicesContainer[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}


.servicesContainer[data-animated="true"] .scrollerInner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 100s)
    var(--_animation-direction, forwards) linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

@media screen and (max-width:1200px) {
    .servicesContainer {
        margin-top: 350px;

    }
}