.cardContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.cardTitle{
color: #f5f5f5;
font-family: anton;
font-weight: 1;
font-size: 2rem;
user-select: none;
}
.cardText{
color: #f5f5f5;
font-family: anton;
font-weight: 1;
font-size: 1.5rem;
user-select: none;
}

.cardBtn {
  margin-top: 1rem;
  border: 0;
  outline: 0;
  padding: 10px 24px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #3e716a;
  color: #f5f5f5;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
  overflow: visible; /* تا افکت بیرون نزنه */
}



/* pseudo-element برای حباب دور دکمه */
.cardBtn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 98%;
  height: 108%;
  border-radius: inherit;
  border: 2px dotted #3e716ac7;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
}

.cardBtn:hover::before {
  animation: outlinePulse 0.4s ease-out;
}

@keyframes outlinePulse {
0% {
    opacity: 0.6;
    transform: translate(-50%, -50%) scale(1);
    box-shadow: 0 0 6px  #3e716ac7 ;
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
    box-shadow: 0 0 10px  #3e716ac7 ;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.2);
    box-shadow: 0 0 20px #3e716ac7 ;
  }
}










.cardImage{
    height: 100%;
    position: relative;

}
.cardImage img{
    height: 110%;
    filter: drop-shadow(1px 0 7px #222921);
    position: absolute;
    bottom: 0;
    right: -100px;
}
@media screen and (max-width:990px){
.cardImage img{
  height: 100%;
}
}
@media screen and (max-width:780px){
.cardContent{
  width: 50%;
}
.cardImage{
  width: 50%;
}
.cardImage img{
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
}
@media screen and (max-width:560px){
  .cardContent{
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: .5rem;
  }
.cardTitle , .cardText{
  width: 50%;
  font-size: 18px;
  text-align: center;
}
.cardBtn{
  width: 80%;
  font-size: 14px;
}
}