.sideBar {
    background-color: #07191b;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    position: relative;
}



.sideBar_logo,
.sideBar_arrow {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    background-color: #0b1b07;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

}

.sideBar_logo {
    top: -45px;
}

.sideBar_logo_content,
.sideBar_arrow_content {
    width: 85%;
    height: 85%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3c6d64;
    transition: all .3s;
    cursor: pointer;
}

.sideBar_logo_content:hover,
.sideBar_arrow_content:hover {
    transform: scale(1.2);
}

.sideBar_logo_img {
    width: 100%;
    height: 100%;
}

.sideBar_list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 90%;
    flex-direction: column;
}

.listItem {
    color: #5c6e70;
    transition: all .2s;
    display: flex;
    align-items: center;
    justify-content: center;

}

.listItem_active {
    transform: scale(1.3);
    color: #e4fdfa;
}

.listButton {
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
    padding: 0;
    font-size: 20px;

}

.listItem:hover {
    transform: scale(1.3);

    color: #e4fdfa;
}






.sideBar_arrow {
    bottom: -45px;
}

.sideBar_arrow_content {
    font-size: 1.5rem;
    color: #e4fdfa;
}
@media screen and (min-width:780px) {
    .sideBar_colapse {
    height: 90px;
}

.sideBar_colapse .sideBar_list {
    display: none;
}
}
@media screen and (max-width:780px) {

    .sideBar {
        height: 100%;
        border-radius: 40px 40px 0 0;
          justify-content: space-between;
          padding: 0 1rem;
    }

    .sideBar_logo {
        width: 10%;
        position: static;
        width: 40px;
        height: 40px;
        padding: 0;
    }

    .sideBar_list {
        width: calc(100% - 50px );
        height: 100%;
        flex-direction: row;
    }
.listButton{
    font-size: 16px;
}
.sideBar_logo_content{
    width: 100%;
    height: 100%;
}
    .sideBar_arrow {
        display: none;
    }
}