
.mapContainer {
    width: 100%;
    height: 50vh;
}

.map {
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 28px 28px 56px #bebebe,-28px -28px 56px #ffffff;
    padding: 1rem;
}