.form{
    width: 100%;
     display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:2rem 1rem;
}
.item_container{
position: relative;
width: 100%;
}

.form_item{
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    border: 0;
    outline: none;
    cursor: pointer;
    font-family: roboto;
    resize: none;
    background-color:#07191b;
    color: #f5f5f5;
}
.form_item::placeholder{
    color: #f5f5f5e0;
}
.item_container:nth-child(1),.item_container:nth-child(2){
width: calc(50% - .5rem);
}
.item_container:nth-child(4) .form_item{
height: 150px;
}
.erroe_message{
    width: 100%;
    height: 20px;
    color: #990800;
    position: absolute;
    bottom: -20px;
    left:0;
    border-radius: 0 0 5px 5px;
    text-align: center;
}
.sucsses_message{
    color: rgb(184, 255, 184);
    width: 100%;
    padding: .25rem;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    background-color: rgba(0,0,0,.8);
    font-family: roboto;
}
.form_btn{
   width: 100%;
   border: 0;
   background-color:#3c6d64;
 
}