*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    background-color: #f5f5f5;
    width: 100%;
    min-height: 200vh;

}
a{
    text-decoration: none;
    color: inherit;
}
ul , ol{
    list-style: none;
}
