.card {
    width: 42%;
    height: 100%;
    min-height:320px;
    min-width: 230px;
    position: relative;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
    cursor: pointer;
    overflow: hidden;
}

.card_img {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    overflow: hidden;
    z-index: -1;
}

.card_img img {
    height: 100%;
    width: 100%;
}

.card_title {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.card_title::after,
.card_title::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 0%;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: all .2s;
}

.card_title::before {
    top: 0;
}

.card_title::after {
    bottom: 0;
}

.card:hover .card_title::after,
.card:hover .card_title::before {
    height: 50%;
}

.card_title h3 {
    font-size: 2rem;
    color: #f5f5f5;
    transition-delay: 1s;
    opacity: 0;
    transform: translateY(40px);
    transition: all .5s;
    z-index: 1;
    font-family: roboto;
}

.card:hover .card_title h3 {
    opacity: 1;
    transform: translateY(0);
}

.card_button {
    position: absolute;
    bottom: 5px;
    right: 5px;
    left: calc(100% - 45px);
    text-align: left;
    padding-left: 1rem;
    height: 40px;
    border-radius: 20px;
    border: 0;
    background-color: #07191b;
    color: #f5f5f5;
    font-family: robotoItalic;
    transition: all .1s;
    cursor: pointer;
    overflow: hidden;
}

.card_button:hover {
    left: 40%;

}

.button_icon {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1.5rem;
    color: #f5f5f5;
    background-color: #07191b;
}
@media screen and (max-width:1100px) {
  .card{
      width: 30%;
  }
}
@media screen and (max-width:560px) {
  .card{
      width: 60%;
  }
}