.gallery {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery_content {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, minmax(90px, 1fr));
    gap: 2rem;

}
.gallery_content:hover .gallery_box {
  filter: blur(3px) grayscale(1);
  transform: scale(1);
}

.gallery_content .gallery_box:hover {
  filter: blur(0) brightness(1);
  transform: scale(1.2);
  z-index: 2; 
}

.gallery_box {
  box-shadow:  28px 28px 56px #bebebe,
             -28px -28px 56px #ffffff;
    border-radius: 15px;
    transition: all .3s;
    cursor: pointer;
}

.gallery_box1 {
    grid-area: 1 / 1 / 3 / 3;
    background: url('/images/gallery/image1.jpg') center/cover no-repeat;
}

.gallery_box2 {
    grid-area: 3 / 1 / 6 / 2;
    background: url('/images/gallery/image2.jpg') center/cover no-repeat;
}

.gallery_box3 {
    grid-area: 6 / 1 / 7 / 2;
    background: url('/images/gallery/image3.jpg') center/cover no-repeat;
}

.gallery_box4 {
    grid-area: 3 / 2 / 5 / 3;
    background: url('/images/gallery/image7.jpg') center/cover no-repeat;
}

.gallery_box5 {
    grid-area: 5 / 2 / 7 / 3;
    background: url('/images/gallery/image5.jpg') center/cover no-repeat;
}

.gallery_box6 {
    grid-area: 3 / 3 / 7 / 4;
    background: url('/images/gallery/image6.jpg') center/cover no-repeat;
}

.gallery_box7 {
    grid-area: 1 / 3 / 3 / 4;
    background: url('/images/gallery/image4.jpg') center/cover no-repeat;
}
@media (max-width: 1024px) {
    .gallery_content {
        grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, minmax(200px, 1fr));

    }
.gallery_box1 { grid-area: 1 / 1 / 2 / 5; }
.gallery_box2 { grid-area: 2 / 1 / 4 / 3; }
.gallery_box3 { grid-area: 2 / 3 / 4 / 5; }
.gallery_box4 { grid-area: 4 / 1 / 5 / 3; }
.gallery_box5 { grid-area: 4 / 3 / 5 / 5; }
.gallery_box6 { grid-area: 5 / 1 / 6 / 5; }
.gallery_box7 { grid-area: 6 / 1 / 7 / 5; }
}
@media (max-width: 768px) {
    .gallery_content {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, minmax(300px, 1fr));
    }

    .gallery_box1 { grid-area: auto; }
    .gallery_box2 { grid-area: auto; }
    .gallery_box3 { grid-area: auto; }
    .gallery_box4 { grid-area: auto; }
    .gallery_box5 { grid-area: auto; }
    .gallery_box6 { grid-area: auto; }
    .gallery_box7 { grid-area: auto; }
}