.social_list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.social_item {
    padding: .5rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    cursor: pointer;
    transition: all .3s;
    font-size: 20px;
}
.social_item:hover{
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, .3);
    color: #f5f5f5;
} 
@media screen and (max-width:780px){
    .social_list{
        flex-direction: row;
    }
}