.aboutTextContent {
    width: 100%;
    height: 100%;
    min-height: 320px;
    background: #adadad00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.aboutText_title {
    width: 65%;
    height: 100%;
    min-height: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-top: 4rem;
}

.aboutText_title p {
    width: 100%;
    text-align: left;
    font-family: roboto;
    color: #07191b;
}

.aboutText_title h2 {
    width: 100%;
    text-align: left;
    font-size: 3.5rem;
    color: #07191b;
    font-family: anton;
}
.aboutText_social{
    width: 30%;
    height: 100%;
    min-height: 320px;
    display: flex;
    align-items: end;
    justify-content: space-around;
    flex-direction: column;
}
.aboutText_social ul{
    padding-right: 40px;
}
.logo {
    width: 120px;
    height: 120px;
    box-shadow: 0 2px 10px rgba(0,0,0,.4);
    border-radius: 50%;
    padding: .5rem;
    cursor: pointer;
}
.logo img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width:780px) {
.aboutTextContent {
    flex-direction: column;
}
.aboutText_title{
    padding: 0;
    width: 100%;
}
.aboutText_title h2{
    font-size: 2.5rem;
    text-align: center;
}
.aboutText_title p{
    text-align: center;
}
.aboutText_social{
    min-height: 200px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
}