.serviceCard{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
    width: 25%;
    height: 100%;
    min-width: 200px;
    transition: all .3s;
    padding: .5rem;
}
.serviceCard:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 1px 2px 5px rgba(0,0,0,.2);
    border-radius: 5px;
}
.serviceCardIcon{
   width: 50px;
   height: 50px;
       display: flex;
    align-items: center;
    justify-content: center;
     border-radius: 50%;
     color: #e2e2e2;
     font-size: 30px;
    background-color: #3c6d64;
    padding: 1rem;
}
.serviceCardTitle{
    color: #07191b;
    font-family: roboto;
    text-align: center;
    user-select: none;
}
.serviceCardCaption{
    font-size: 14px;
    color: #777777;
    text-align: center;
    user-select: none;
   
    font-family: robotoItalic;
}
