.container {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 100%;
    height: 90%;
    background-color: #3e716a;
    position: relative;
    border-radius: 50px;
}

.topBox {
    width: 300px;
    position: absolute;
    background-color: #f5f5f5;
    padding: 0 10px 10px 10px;
    border-radius: 0 0 50px 50px;
    min-height: 70px;
    top: 0;
    right: 150px;
}

.topBox::before,
.topBox::after {
    position: absolute;
    width: 40px;
    height: 60px;
    background-color: transparent;
    content: '';
}

.topBox::before {
    top: 0;
    left: -40px;
    border-top-right-radius: 60px;
    box-shadow: 7px -17px #f5f5f5;
}

.topBox::after {
    top: 0;
    right: -40px;
    border-top-left-radius: 60px;
    box-shadow: -7px -17px #f5f5f5;
}

.topBoxContent {
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background-color: #07191b;
}


.mainContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainContentImage {
    padding-left: 3rem;
    height: 100%;
    position: relative;
}

.mainContentImage img {
    height: 105%;
    position: absolute;
    bottom: 0;
}

.mainContentTitie {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;


}

.mainContentTitleText {
    color: #f5f5f5;
    font-size: 100px;
    padding-bottom: 22%;
    font-family: Anton;
    text-shadow: 2px 4px 7px yellowgreen;
}

.mainContentTitleText .mainContentFirstSpan {

    padding-right: 6rem;
}

.mainContentTitleText .mainContentSecondSpan {
    padding-left: 6rem;
}







.bottomBox {
    position: absolute;
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 50px;
    width: 55%;
    height: 300px;
    bottom: -1rem;
    right: -1rem;
}

.bottomBox::before,
.bottomBox::after {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    content: '';
}

.bottomBox::before {
    top: -50px;
    right: 1rem;
    border-bottom-right-radius: 25px;
    box-shadow: 15px 15px #f5f5f5;
}

.bottomBox::after {
    bottom: 1rem;
    left: -50px;
    border-bottom-right-radius: 25px;
    box-shadow: 15px 15px #f5f5f5;
}

.bottomBoxContent {
    width: 100%;
    height: 100%;
    border-radius: calc(50px - 1rem);
    background-color: #07191b;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


@media screen and (max-width:1200px) {
    .container {
        height: auto;
        padding: 2rem;
    }

    .bottomBox {
        width: 100%;
        bottom: -320px;
        right: 0;
        padding: 0;
    }

    .bottomBoxContent {
        border-radius: 50px;
    }

    .bottomBox::before,
    .bottomBox::after {
        display: none;
    }

    .mainContentImage {
        width: 50%;
        height: 90vh;
    }

    .mainContentTitie {
        width: 50%;

    }

    .mainContentTitleText {
        font-size: 70px;
    }

    .mainContentTitleText .mainContentFirstSpan {

        padding-right: 0;
    }

    .mainContentTitleText .mainContentSecondSpan {
        padding-left: 0;
    }
}

@media screen and (max-width:990px) {
    .mainContentTitleText {
        font-size: 50px;
    }

    .topBox {
        min-height: 50px;
    }

}

@media screen and (max-width:780px) {
    .mainContentTitleText {
        font-size: 80px;
    }

    .mainContentTitie {
        width: 100%;

    }

    .mainContent {
        flex-direction: column;
    }

    .bottomBox {
        bottom: -320px;
    }

    .mainContentImage {
        width: 100%;
        height: 90vh;
        margin-top: 130px;
    }

    .mainContentImage img {
        left: 50%;
        transform: translateX(-50%);
    }

    .topBox {
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
    }

    .bottomBoxContent {
        flex-grow: 1;

    }
}

@media screen and (max-width:560px) {
    .container {
        padding-top: 100px;
    }

    .topBox {
        width: 100%;
        left: 50%;
        top: -80px;
        padding: 0;
    }

    .topBox::before,
    .topBox::after {
        display: none;
    }

    .mainContentTitleText {
        font-size: 40px;
    }

    .bottomBoxContent {

        flex-direction: column-reverse;
    }

    .mainContentImage {
        margin-top: 10%;

        height: 70vh;
    }
}