.serchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.SearchBarForm {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: .5rem;
}

.SearchBarInput {
    background-color: #3e716a;
    padding: .5rem;
    padding-left: 1rem;
    height: 60px;
    width: 60%;
    border-radius: calc(60px - 1rem);
    color: #f5f5f5c7;
    font-size: 18px;
    border: 0;
    outline: 0;
}

.SearchBarInput::placeholder {
    color: #f5f5f5a2;
    }

.SearchBarIcon {
    width: 60px;
    height: 60px;
    border-radius: calc(60px - 1rem);
    background-color: #3e716a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f5f5f5;
    cursor: pointer;
    font-size: 1.5rem;
    transition: all .2s;
}

.SearchBarIcon:hover {
    background-color: #1f3a36;
    font-size: 1.75rem;
}
@media screen and (max-width:990px){
    .serchContainer{
        width: 200px;
    }
    .SearchBarInput{
        height:40px;
          width: 70%;
          font-size: 14px;
    }
    .SearchBarIcon{
        width: 40px;
        height: 40px;
        font-size: 1rem;
      
    }
}
@media screen and (max-width:780px){
  .serchContainer{
        width: 100%;
    }
}
