:root {
  ----bg: '';
}
.Banner {
    width: 100%;
    height: 100%;
    position: relative;
    background: #000000;
   background: var(--bg) top/cover no-repeat;
    background-attachment: fixed;
    border-radius: 40px;
}

.Banner_title::after {
    position: absolute;
    content: '';
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 40px;
}

.Banner_title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Banner_title h2 {
    color: #F5F5F5;
    font-size: 8rem;
    z-index: 2;
    font-family: anton;
    letter-spacing: .5rem;
    user-select: none;
    text-align: center;
}

.Banner_buttonContainer {
    position: absolute;
    z-index: 3;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Banner_buttonContainer::after,
.Banner_buttonContainer::before {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    background-color: transparent;
}

.Banner_buttonContainer::before {

    left: -21px;
    top: 35px;
    border-bottom-right-radius: 30px;
    box-shadow: 5px 5px 0 1px #F5F5F5;

}

.Banner_buttonContainer::after {
    right: -21px;
    top: 35px;
    border-bottom-left-radius: 30px;
    box-shadow: -5px 5px  #F5F5F5;


}

.Banner_buttonContent {
    width: 120px;
    height: 120px;
    background-color: #F5F5F5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Banner_button {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 0;
    outline: 0;
    background-color: #07191b;
    color: #F5F5F5;
    font-size: 2rem;
    cursor: pointer;
    transition: all .3s;

}
.Banner_button:hover{
    animation: spin .8s forwards ease-in-out;


}
@keyframes spin {
    0%{
        transform: rotate(0);
    }
    30%{
        transform: rotate(-90deg) scale(.95) ;  

        
    }
    100%{
        transform: rotate(135deg) scale(1.05);
        
    }

}

@media screen and (max-width:990px) {
    .Banner_title h2{
        font-size: 5rem;
    }
}
@media screen and (max-width:780px) {
    .Banner_title h2{
        font-size: 3rem;
    }
    .Banner_buttonContainer {
    transform: translateX(-50%) scale(.6);


}
}